.container {
  padding: 0 2rem;
}

.article {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.article h3 a {
  color: blue;
}

.article h3 a:hover {
  color: darkblue;
}
